

#counter-body {
    width:600px;
    height:400px;
    margin:auto;
    background: #1B244A;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
    
}

.counter-column{
    display: inline;
}

.score-num {
    background: #080001;
    color: #F94F6D;
    height: 120px;
    width:160px;
    justify-content: center;
    margin:10px;
    
}

.increase-btn {
color:#9AABD8;
background: #1B244A;
border: 2px solid #9AABD8;
width:45px;
height:45px;
}

#reset-btn {
color:#fff;
background: #1B244A;
border: 2px solid #fff;
}

/* Utility classes*/

.title{
 font-weight:700px;
}

.cursed-timer-font{
    font-family: 'Cursed Timer ULiL', sans-serif;
}

/* repeatables */

.increase-btn,
#reset-btn {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin:20px 4px 0px 0px;
}


.increase-btn ,
.score-num,
#reset-btn {
    border-radius: 5px;
}

#counter-body,
.score-num {
    display:flex;
    align-items: center;
    
}

#counter-body,
.counter-column {
    text-align:center;

}

#counter-body,
.increase-btn {
    justify-content: space-around;
}

.score-num,
.title {
    font-size:40px;
}

